@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  &.light-mode {
    /* (Light Mode Text) */
    --text-color: hsl(200, 15%, 8%);
    /* (Light Mode Input) */
    --input-color: hsl(0, 0%, 52%);
    /* (Light Mode Background) */
    --bg-color: hsl(0, 0%, 98%);
    /* (Dark Mode Text & Light Mode Elements) */
    --element-color: hsl(0, 0%, 100%);

    --nav-boxShadow: 0 0 5px 2px rgba(100, 100, 100, 0.2);
    --card-boxShadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);
  }

  &.dark-mode {
    /* (Dark Mode Text & Light Mode Elements) */
    --text-color: hsl(0, 0%, 100%);
    --input-color: hsl(0, 0%, 100%);
    /* (Dark Mode Background) */
    --bg-color: hsl(207, 26%, 17%);
    /* (Dark Mode Elements) */
    --element-color: hsl(209, 23%, 22%);

    ---nav-boxShadow: none;
    --card-boxShadow: none;
  }

  /* (Light Mode Text) */
  --text-color: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --input-color: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --bg-color: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --element-color: hsl(0, 0%, 100%);

  --nav-boxShadow: 0 0 5px 2px rgba(100, 100, 100, 0.2);
  --card-boxShadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);

  --base-font: "Nunito Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--base-font);
  font-optical-sizing: auto;
  color: var(--very-dark-blue);
  background-color: var(--bg-color);
}
